@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./titillium_web.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* minor 3rd */

/*16px*/
html {
  font-size: 100%;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

p {
  /* margin-bottom: 1.15rem; */
}

h1,
h2,
h3,
h4,
h5 {
  /* margin: 2.75rem 0 1.05rem; */

  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

:root {
  --primary__background__color: rgb(250, 251, 252);
  /* rgb(245, 245, 245); */
  /* #e5edfb; */
  /* #1e2526; */
  --secondary__background__color: rgb(52, 62, 64);
  --accent__color: rgb(138, 43, 226);
}

* {
  font-family: Montserrat, sans-serif;
  color: black;
  /* color: white; */
  /* border: 1px dashed cornflowerblue; */
}

html {
  height: fit-content;
  width: calc(100% - 4px);

  margin: 0;
  padding: 0;

  background-color: var(--primary__background__color); /* #1e2526; */
  border: 1px dashed rgb(29, 177, 128);
}

body {
  height: 100%;
  width: 100%;

  margin: 2em 0;
  padding: 0;

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-items: center;

  /* border: 1px dashed red; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ---GENERAL--- */

.section-title {
  width: 100%;
  text-align: center;

  border: 1px dashed yellowgreen;
}

/* ---BANNER--- */

.banner {
  width: 100%;
  height: 100%;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;

}

.banner__logo__container {
  width: 100%;
  height: 100%;

  padding: 0 2em;

  display: inline-flex;
  flex-flow: row nowrap;

  /* align-items: center; */
  /* justify-content: center; */
}

.banner__logo {
  height: 3.2em;
  width: 3.2em;

  object-fit: cover;
  object-position: left;
}

.banner__title {
  padding: 0 0.6em;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  font-size: 16pt;
  font-weight: bold;
}

.banner__list {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

.banner__item {
  font-size: medium;
  font-weight: bold;
  padding: 0 2em;
  /* margin: 0 1em; */
}

/* ---HEADER--- */

.header__container {
  width: 80em;
  /* padding: 1em; */

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

/* ---HERO--- */

.hero__container {
  width: 80em;
  height: 20em;
  /* width: 100%; */

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

.hero__info__container {
  height: 100%;

  flex-basis: 50%;
}

.hero__image__container {
  height: 100%;

  flex-basis: 50%;
}

.hero__screenshot {
  height: 100%;
  width: 100%;

  background-color: grey;
}

/* ---FEATURES--- */

.features {
  width: 80em;
  height: 100%;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;

  border-bottom: 1px dashed black;
}

.features .section-title:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.feature {
  /* width: 30em; */
  margin: 1em;
}

.feature__title {
  font-size: large;
  font-weight: bold;
  padding-bottom: 0.4em;
}

.feature__content {
}

/* ---ROADMAP--- */

.roadmap {
  display: inline-flex;
  flex-flow: column nowrap;

  justify-items: center;
  align-items: center;

  border-bottom: 1px dashed black;
}

.future {
  width: 30em;
  margin: 1em;
}

.future__title {
  font-size: large;
  font-weight: bold;
  padding-bottom: 0.4em;
}

.future__content {
}

/* ---DOWNLOADS--- */

.downloads {
  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  border-bottom: 1px dashed rgb(55, 45, 184);
}

.download {
  height: 2.8em;
  width: 16em;

  border: 1px dashed blue;
}

.download__button {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
}

.download__button .container:first-child {
  flex-basis: 20%;
  border-right: 1px solid blue;
}

.download__button .container:last-child {
  flex-basis: 80%;
}

.download__image {
  height: 2em;
  width: 2em;

  margin: 0;
  padding: 0;

  object-fit: contain;
  background-color: grey;
}

.download__text {
  height: 100%;
  width: 100%;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  text-align: center;
}

.container {
  height: 100%;
  width: 100%;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

/* ---FOOTER--- */

.footer__container {
  height: 100%;
  width: 80em;
  /* padding: 1em; */

  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;

  /* display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center; */
}
