@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./titillium_web.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --primary__background__color: rgb(250, 251, 252);
  /* rgb(245, 245, 245); */
  /* #e5edfb; */
  /* #1e2526; */
  --secondary__background__color: rgb(52, 62, 64);
  --accent__color: rgb(138, 43, 226);
}

* {
  font-family: Montserrat, sans-serif;
  color: black;
  /* color: white; */
  border: 1px dashed cornflowerblue;
}

html {
  margin: 0;
  padding: 0;

  /* height: 100%; */
  /* width: 100%; */

  height: calc(100% - 4px);
  width: calc(100% - 4px);

  background-color: var(--primary__background__color);
  /* #1e2526; */
}

body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  display: inline-flex;
  flex-flow: column nowrap;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ---GENERAL--- */

.section-title {
  width: 100%;
  text-align: center;
}

/* ---BANNER--- */

.banner {
  width: 100%;
  height: 100%;

  border: 1px dashed black;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;
}

.banner__logo__container {
  width: 100%;
  height: 100%;

  padding: 0 2em;

  align-items: center;
  justify-content: center;
}

.banner__logo {
  height: 100%;
  width: 6em;
  object-fit: contain;
  background-color: grey;
}

.banner__list {
  width: 100%;
  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

.banner__item {
  font-size: large;
  font-weight: bold;
  padding: 0 2em;
  /* margin: 0 1em; */
}

/* ---HEADER--- */

.header__container {
  /* width: 100%; */
  /* padding: 1em; */

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-between;
}

/* ---HERO--- */

.hero__container {
  /* width: 100%; */

  display: inline-flex;
  flex-flow: row nowrap;
  flex-basis: 60em;

  align-items: center;
  justify-content: center;
}

.hero__info__container {
  height: 100%;

  flex-basis: 50%;
}

.hero__image__container {
  height: 100%;

  flex-basis: 50%;
}

.hero__screenshot {
  height: 100%;
  width: 100%;

  background-color: grey;
}

/* ---FEATURES--- */

.features {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}

.features .section-title:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.feature {
  /* width: 30em; */
  margin: 1em;
}

.feature__title {
  font-size: large;
  font-weight: bold;
  padding-bottom: 0.4em;
}

.feature__content {
}

/* ---ROADMAP--- */

.roadmap {
  display: inline-flex;
  flex-flow: column nowrap;

  justify-items: center;
  align-items: center;
}

.future {
  width: 30em;
  margin: 1em;
}

.future__title {
  font-size: large;
  font-weight: bold;
  padding-bottom: 0.4em;
}

.future__content {
}

/* ---DOWNLOADS--- */

.downloads {
  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
}

.download {
}

.download__button {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  display: inline-flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: white;
  border: none;
}

.download__image {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  flex-basis: 40%;

  background-color: grey;
}

.download__text {
  height: 100%;
  width: 100%;

  flex-basis: 60%;
}

/* ---FOOTER--- */

.footer__container {
  display: inline-flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: center;
}
